.tasks-deleted {
	text-decoration: line-through;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.btn-space {
	margin-right: 10px;
}

.tasksTable {
	font-weight: bold;
	border-radius: 25px;
	padding: 10px;
	color: white;
	text-align: center;
}

.glyphicon-fire {
	color: red !important;
	font-size: 25px;
}

.glyphicon-bell {
	color: orange !important;
	font-size: 25px;
}

.glyphicon-send {
	color: blue !important;
	font-size: 25px;
}

.glyphicon-hourglass {
	color: lightblue !important;
	font-size: 25px;
}

.badge {
	float: right !important;
}

h1 {
	color: #111;
	font-size: 45px;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

h2 span.glyphicon {
	color: red;
	font-size: 20px;
}

.form-signin .btn {
	float: center;
	margin-left: 45px;
}

.overdueCheck {
	color: red;
	font-size: 20px;
}